*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
}
.Background{
    background-color: rgb(25,25,25);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.Main{
    background-color: rgb(40, 40, 40);
    width: 30vw;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 10px rgb(35, 35, 35);
}
.Fm{
    text-align: center;
    color: aliceblue;
}
a{
    text-decoration: none;
    color: var(--Lightgray);
}
a:hover{
    color: var(--Grayishblue);
}
